# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml

# Credenciais e segredos
.env
*.json
!dbt_project.yml
!packages.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
